#paginaSingle {
  font-size: 1vw;
}
#paginaSingle p {
  text-align: left;
  font-size: 1em;
}
#paginaSingle .compartir {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: left;
}
#paginaSingle .compartir div {
  display: inline-block;
  margin-right: 1em;
}
#paginaSingle .compartir img {
  -webkit-filter: saturate(0);
          filter: saturate(0);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#paginaSingle .compartir img:hover {
  -webkit-filter: saturate(1);
          filter: saturate(1);
}
